@import url(./components/header.css);

#main {
    align-items: center;
}

.main__section {
    display: flex;
    padding: 70px 40px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title__side {
    padding: 276px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container__title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.container-context {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 40px 0 116px;
}

.main-btn {
    width: 66%;
    text-align: center;
    align-items: center;
    background: #E1B168;
    height: 72px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.44px;
    color: #4C4D4F;
}

.img-side {
    margin-right: 66px;
    height: 740px;
    width: 42%;
    position: relative;
    background: url(/assets/img/bg.png) no-repeat;
    background-size: 100% 100%;
}

.circle-vector {
    position: absolute;
    top: 388;
    right: 40;
}

@media (max-width:950px) {
    .main__section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title__side {
        padding: 20px 0 80px;
    }

    .img-side {
        width: 70%;
        margin: 0;
    }

    .circle-vector {
        position: absolute;
        top: 820px;
        right: 100px;
    }
}

@media (max-width:700px) {
    .img-side {
        width: 90%;
    }

    .circle-vector {
        right: 0;
    }
}

@media (max-width: 580px) {
    .main__section {
        padding: 70px 15px;
    }

    .img-side {
        width: 100%;
        height: 625px;
    }

    .circle-vector {
        top: 820px;
        width: 60%;
    }
}

@media (max-width:400px) {
    .circle-vector {
        top: 830px;

    }
}

/* About Us section */

#about-us {
    background: #FFF8F5;
    padding: 90px 40px;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-top__container {
    width: 100%;
    display: flex;
    padding: 0 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-item {
    display: flex;
    gap: 20px;
    text-align: left;
    height: auto;
    justify-content: center;
    align-items: center;

}

.item-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
    margin-bottom: 4px;
}

.item-context {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.about-bottom__container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 134px;
}

.about-us__content {
    display: flex;
    ;
    align-items: left;
    text-align: left;
    flex-direction: column;
    position: relative;
    margin-left: 44px;
}

.about-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
    margin-bottom: 40px;
}

.about-us__context {
    text-align: left;
    font-weight: 500;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    text-transform: lowercase;
    color: #3F3B3B;
    letter-spacing: 0em;
}

.about-us__btn {
    position: absolute;
    bottom: 0;
    background: none;
    border: 2px solid#E1B168;
    font-weight: 400;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.content__img {
    display: none;
}

@media (max-width:1160px) {
    .about-top__container {
        gap: 20px;
    }

    .about-bottom__container {
        flex-wrap: wrap;
    }

    .section__img {
        display: none;
    }

    .content__img {
        display: block;
        margin-bottom: 40px;
    }

    .content__img img {
        width: 100%;
    }

    .about-us__context {
        margin-bottom: 80px;
    }

    .about-us__content {
        margin: 0;
    }
}

@media (max-width:700px) {
    .about-top__container {
        align-items: center;
        justify-content: center;
    }

    .about-item {
        width: 70%;
        justify-content: flex-start;
    }
}

@media (max-width:620px) {

    #about-us {
        padding: 0 15px;
    }

    .about-us__btn {
        padding: 10px 0;
    }

    .about-item {
        width: 100%;
        justify-content: flex-start;
    }
}

/* Section Projects */

#projects {
    margin-top: 176px;
    padding: 0 40px;
}

.projects__container {
    display: flex;
    gap: 15px;
}

.title__container {
    width: 40%;
}

.projects__title {
    width: 12%;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding: 4px 0 0;

}

.projects {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
}

.projects__content {
    margin-top: 12px;
}

.content__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #4C4D4F;
}

.content__context {
    margin-top: 12px;
    font-weight: 400;
    width: 94%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.project__img {
    margin-top: 45px;
}

.section__content {
    display: flex;
    width: 61%;
    flex-direction: column;
    position: relative;
}

.title-item {
    margin-top: 34px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
}

.price-cards {
    margin-top: 40px;
}

.price__card:nth-child(1) {
    margin: 0;
}

.price__card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card-price-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
}

.card__price-context {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.price-line {
    margin-top: 60px;
    width: 29%;
    height: 2px;
    background: #AAAAAA;
}

.card-price {
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
}

.morebtn-projects {
    width: 36%;
    margin-top: 152px;
    border: 2px solid #E1B168;
    background: none;
    padding: 20px 0;
    font-size: 22px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #E1B168;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 1285px) {
    .price__card {
        flex-wrap: nowrap;
    }

    .card__content {
        margin-left: 20px;
    }

    .projects__container {
        gap: 50px;
    }
}

@media (max-width:980px) {
    .projects__container {
        align-items: center;
        flex-direction: column;
    }

    .title__container {
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-self: center;
    }

    .projects__title {
        width: 100%;
    }

    .section__content {
        width: 100%;
    }

    .morebtn-projects {
        margin-top: 82px;
        position: relative;
    }

}

@media (max-width: 780px) {
    #projects {
        padding: 0 15px;
    }

    .title__container {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-self: center;
    }
}

@media (max-width: 540px) {
    .title__container {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-self: center;
    }

    .price__card {
        margin-top: 30px;
    }

    .card__content {
        margin-left: 10px;
    }

    .card-price-title {
        font-size: 29px;
    }

    .card__price-context {
        font-size: 19px;
        line-height: 26px;
    }

    .price-line {
        display: none;
    }

    .card-price {
        margin-left: 4px;
    }
}

@media (max-width: 440px) {
    .price__card img {
        width: 20%;
    }

    .card-price-title {
        font-size: 26px;
    }

    .card__price-context {
        font-size: 16px;
        line-height: 20px;
    }

    .card-price {
        font-size: 26px;
        margin-left: 30px;
    }

    .morebtn-projects {
        margin-top: 64px;
        width: 56%;
        padding: 12px 0;
    }
}

/* Why We are section */


#Why-we {
    margin-top: 132px;
    padding: 140px 40px 120px;
    background: #4C4D4F;
}

.why-container {
    display: flex;
    flex-direction: column;
}


.why-title {
    width: 10%;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding: 4px 0;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.why-content {
    width: 60%;
    margin-top: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 78px;
    gap: 30px;
}

.carousel-item {
    width: 544px;
    background: #343942;
    padding: 62px 0px 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-line {
    height: 1px;
    background: #797E89;
    width: 90%;
}

.carousel-card-context {
    margin-top: 36px;
    font-weight: 400;
    font-size: 25px;
    padding: 0 40px;
    line-height: 38px;
    letter-spacing: 0.25px;
    color: #FFFFFF;

}

.carousel-index {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-self: center;
}

.index-active-item {
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
    border-radius: 10px;
}

.index-item {
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
    border-radius: 10px;
}


/* Slider section */
.slider__container {
    display: flex;
    position: relative;
    justify-content: center;
}

.slider__container img {
    width: 100%;
}

.slider__index {
    position: absolute;
    bottom: 12;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px 14px;
    background: rgba(41, 46, 54, 0.5);

    gap: 30px;
}

.index__item {
    height: 20px;
    width: 20px;
    background: #808285;
    border-radius: 10px;
}

.index-active__item {
    height: 20px;
    width: 20px;
    background: #E1B168;
    border-radius: 10px;
}

/* Sale section */
#sales {
    margin: 60px 0 162px;
    padding: 0 40px;
}

.sale__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sale__title {
    padding-top: 4px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;

}

.sale__context {
    margin-top: 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #555555;
}

.sale__cards {
    margin-top: 72px;
    display: flex;
    gap: 30px;
}

.sale__card {
    display: flex;
    flex-wrap: nowrap;
    background: url(/assets/img/sale-card-bg-1.png) no-repeat;
    height: 409px;
    padding: 0 30px;
    align-items: center;
    justify-content: space-around;
}

.sale__card:nth-child(2) {
    background: url(/assets/img/sale-card-bg-2.png) no-repeat;
}

.sale__card-content {
    width: 40%;
}

.sale-only {
    position: relative;
}

.sale-price-text {
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #4C4D4F;
    position: absolute;
    top: 30;
    left: 54;
}


.sale-price {
    position: absolute;
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
    z-index: 1;
    top: 40;
    left: 30;
}

.white {
    color: #fff;
}

.price-img {
    margin-top: 28px;
}

.sale__item-text {
    font-weight: 400;
    margin-top: 26px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #4C4D4F;
    border-top: 1px solid #4C4D4F;
    padding-top: 4px;
    border-bottom: 1px solid #4C4D4F;
}

.sale__text {
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.sale__card-img {
    width: 50%;
    display: flex;
    align-items: center;
}


/* Offer Section */

#offer {
    background: #4C4D4F;
    padding: 140px 40px;
}

.offer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__content {
    width: 40%;
}

.offer__title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 4px;
    color: #FFFFFF;
}

.offer-top-line {
    height: 1px;
    width: 34%;
    background: #E1B168;
    margin-bottom: 4px;
}

.offer-line {
    height: 1px;
    width: 34%;
    background: #E1B168;
}

.offer__text {
    margin-top: 78px;
    font-weight: 400;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.offer__cards {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__card {
    border: 20px solid #323841;
    display: flex;
    height: 235px;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__context {
    margin-top: 15px;
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

/* News Section */
#news {
    padding: 0 40px 141px;
}

.news__container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.news-top-line {
    height: 1px;
    background: #E1B168;
    margin-bottom: 4px;
    width: 17%;
}

.news__title {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
}

.news-line {
    height: 1px;
    background: #E1B168;
    width: 17%;
}

.news__text {
    margin-top: 75px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.news__cards {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news__card {
    width: 49%;
}

.card-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    width: 100%;
}

.img-background {
    background: #000000A6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.view-more-btn {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #4C4D4F;

    position: absolute;
    background: #E1B168;
    width: 34%;
    padding: 20px 0;
    z-index: 1;
}

.card__bottom {
    border-bottom: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    display: flex;
    padding: 0 46px;
    flex-direction: column;
}

.card__date {
    margin-top: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
    border-top: 1px solid #E1B168;
    padding-top: 4px;
    border-bottom: 1px solid #E1B168;
    width: 27%;
}

.card__title {
    margin-top: 24px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #4C4D4F;
}

.card__text {
    margin-top: 63px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
    margin-bottom: 68px;
}

.cards__breadcrumbs {
    margin-top: 50px;
    height: 1px;
    background: #3F3B3B;
    width: 70%;
    position: relative;
}

.active__breadcrumb {
    height: 3px;
    position: absolute;
    top: -2;
    background: #4C4D4F;
    width: 10%;
}

/* Form Section */
#form {
    background: url(/assets/img/form-bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 0;
}

.form__container {
    background: #292E36F2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63%;
    padding: 140px 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form__line {
    height: 1px;
    width: 19%;
    background: #E1B168;
}

.form__title {
    font-weight: 400;
    margin-top: 4px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form__context {
    font-weight: 400;
    font-size: 20px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 10px;
}

.form__inputs {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
}

.form__item {
    width: 40%;
    display: flex;
    background: none;
    padding: 18px 0 18px 25px;
    border: 1px solid #4C4D4F;

    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


.form__item::placeholder {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.formSend {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;

    width: 40%;
    padding: 22px 0 12px;
    margin-top: 30px;
    background: #ffff;
}

/* Footer */
footer {
    background: #4C4D4F;
    padding: 0 40px;
}



.footer__bottom {
    display: flex;
    border-top: 1px solid #575B62;
    flex-wrap: wrap;
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.confidantiality {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}