@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/form.css);
@import url(./components/modal.css);
#main {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content__container {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 200px;
    padding: 70px 20px 0;
}

.title__side {
    padding: 276px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container__title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.container-context {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 40px 0 116px;
}

.main-btn {
    width: 60%;
    text-align: center;
    align-items: center;
    background: #E1B168;
    height: 72px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.44px;
    color: #4C4D4F;
}

.img-side {
    position: relative;
    margin-right: 36px;
    height: 740px;
    display: flex;
}

.circle-vector {
    position: absolute;
    top: -50;
    right: -80;
}


@media (max-width:1450px) {
    .main__bg {
        width: 100%;
    }

}

@media (max-width:950px) {
    .content__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title__side {
        padding: 20px 0 80px;
    }

    .img-side {
        margin: 0;
    }

    .circle-vector {
        width: 60%;
        position: absolute;
        top: -40;
        right: 0;
    }
}

@media (max-width:700px) {
    .img-side {
        width: 90%;
    }

    .circle-vector {
        right: 0;
    }
}

@media (max-width: 580px) {
    .content__container {
        padding: 70px 15px;
        gap: 20px;
    }

    .img-side {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }


    .circle-vector {
        top: -20;
        right: -20;
    }
}





/* About Us section */

#about-us {
    background: #FFF8F5;
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container {
    width: 90%;
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-top__container {
    width: 100%;
    display: flex;
    padding: 0 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-item {
    display: flex;
    gap: 20px;
    text-align: left;
    height: auto;
    justify-content: center;
    align-items: center;

}

.item-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
    margin-bottom: 4px;
}

.item-context {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

@media (max-width: 385px) {
    .item-title {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .item-context {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #555555;
    }
}

.about-bottom__container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 134px;
}

.about-us__content {
    display: flex;
    ;
    align-items: left;
    text-align: left;
    flex-direction: column;
    position: relative;
    margin-left: 44px;
}

.about-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
    margin-bottom: 40px;
}

.about-us__context {
    text-align: left;
    font-weight: 500;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    text-transform: lowercase;
    color: #3F3B3B;
    letter-spacing: 0em;
}

.about-us__btn {
    position: absolute;
    bottom: 0;
    background: none;
    border: 2px solid#E1B168;
    font-weight: 400;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.content__img {
    display: none;
}

@media (max-width:1160px) {
    .about-top__container {
        gap: 20px;
    }

    .about-bottom__container {
        flex-wrap: wrap;
    }

    .section__img {
        display: none;
    }

    .content__img {
        display: block;
        margin-bottom: 40px;
    }

    .content__img img {
        width: 100%;
    }

    .about-us__context {
        margin-bottom: 80px;
    }

    .about-us__content {
        margin: 0;
    }
}

@media (max-width:700px) {
    .about-top__container {
        align-items: center;
        justify-content: center;
    }

    .about-item {
        width: 70%;
        justify-content: flex-start;
    }
}

@media (max-width:620px) {

    #about-us {
        padding: 40px 15px;
    }

    .about-us__btn {
        padding: 10px 0;
    }

    .about-item {
        width: 100%;
        justify-content: flex-start;
    }
}

@media (max-width:420px) {

    .about-item img {
        width: 36%;
    }
}

/* Section Projects */

#projects {
    margin-top: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__container {
    width: 100%;
    max-width: 1520px;
    display: flex;
    padding: 70px 20px 0;
    gap: 15px;
}

.title__container {
    width: 40%;
}

.projects__title {
    width: 12%;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding: 4px 0 0;

}

.projects {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
}

.projects__content {
    margin-top: 12px;
}

.content__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #4C4D4F;
}

.content__context {
    margin-top: 12px;
    font-weight: 400;
    width: 96%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.project__img {
    margin-top: 45px;
    width: 78%;
}

.section__content {
    display: flex;
    width: 62%;
    flex-direction: column;
    position: relative;
}

.title-item {
    margin-top: 34px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
}

.price-cards {
    margin-top: 40px;
}

.price__card:nth-child(1) {
    margin: 0;
}

.price__card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card-price-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
}

.card__price-context {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.price-line {
    margin-top: 60px;
    width: 29%;
    height: 2px;
    background: #AAAAAA;
}

.card-price {
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
}

.morebtn-projects {
    width: 36%;
    margin-top: 152px;
    border: 2px solid #E1B168;
    background: none;
    padding: 20px 0;
    font-size: 22px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #E1B168;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 1285px) {
    .price__card {
        flex-wrap: nowrap;
    }

    .card__content {
        margin-left: 20px;
    }

    .projects__container {
        gap: 50px;
    }
}

@media (max-width:1224px) {
    .section__content {
        align-items: flex-end;
    }

    .morebtn-projects {
        width: 36%;
        margin-top: 82px;
        position: relative;
    }
}

@media (max-width:980px) {
    .projects__container {
        align-items: center;
        flex-direction: column;
    }

    .title__container {
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .projects__title {
        width: 100%;
    }

    .section__content {
        width: 100%;
        align-items: center;
    }

    .morebtn-projects {
        margin-top: 82px;
        position: relative;
    }

}

@media (max-width: 780px) {
    #projects {
        padding: 0 15px;
    }

    .projects__title {
        width: 47%;
    }

    .title__container {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 540px) {

    .title__container {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .price__card {
        margin-top: 30px;
    }

    .card__content {
        margin-left: 10px;
    }

    .card-price-title {
        font-size: 29px;
    }

    .card__price-context {
        font-size: 19px;
        line-height: 26px;
    }

    .price-line {
        display: none;
    }

    .card-price {
        margin-left: 4px;
    }
}

@media (max-width: 440px) {
    .price__card img {
        width: 20%;
    }

    .project__img {
        margin-top: 35px;
        width: 98%;
    }

    .card-price-title {
        font-size: 26px;
    }

    .card__price-context {
        font-size: 16px;
        line-height: 20px;
    }

    .card-price {
        font-size: 26px;
        margin-left: 30px;
    }

    .morebtn-projects {
        margin-top: 64px;
        width: 56%;
        padding: 12px 0;
    }
}

/* Why We are section */


#Why-we {
    margin-top: 132px;
    padding: 140px 0 120px 0px;
    background: #4C4D4F;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.why-container {
    display: flex;
    height: 618px;
    max-width: 1420px;
    width: 90%;
    flex-direction: column;
}

.line-up {
    height: 1px;
    width: 10%;
    background: #E1B168;
}

.line-down {
    height: 1px;
    width: 10%;
    background: #E1B168;
}

.why-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.container-title h2 {
    margin: 4px 0;
}

.why-content {
    width: 60%;
    margin-top: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


/* Carousel in Why section*/

.carousel-container {
    position: relative;
    max-width: 1720px;
    margin-top: 78px;
    width: calc(67% + 51vw);
}

#myCarouselS {
    position: static;
}

.carousel {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    max-width: 1820px;
    margin-top: 78px;
    gap: 30px;
    width: calc(67% + 51vw);
}


#carousel-indicator {
    height: 20px;
    width: 20px;
    margin: 0;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
    border-radius: 10px;
}

#carousel-indicator .active {
    height: 20px;
    width: 20px;
    background: #E1B168;
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
    border-radius: 10px;
}

#carousel-inner {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    max-width: 1620px;
    gap: 30px;
    width: calc(67% + 51vw);
}

.carousel-item {
    width: 42%;
    background: #343942;
    padding: 62px 0px 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* carousel1's cards */

#slaider-indicators {
    position: absolute;
    bottom: -120;
    width: 40%;
}

#slaider-indicators .active {
    background: #fff;
}

#slider__item {
    margin: 0;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
    border-radius: 10px;
    border: none;
}


.carousel-nd-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
    height: 310px;
    background: #343942;
    padding: 40px 0px 40px;
    justify-content: center;
}

.card-line {
    height: 1px;
    background: #797E89;
    width: 90%;
}

.carousel-card-context {
    margin-top: 36px;
    font-weight: 400;
    font-size: 25px;
    padding: 0 40px;
    line-height: 38px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.carousel-index {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-self: center;
}

@media (max-width:1040px) {
    .carousel-item {
        padding-bottom: 52px;
    }
}

@media (max-width:900px) {
    .carousel-item {
        padding-bottom: 52px;
    }
}


@media (max-width: 840px) {
    .carousel-item {
        min-width: 450px;
    }

    .carousel-card-context {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width:780px) {
    .carousel-card-context {
        padding: 0 20px;
    }

    .carousel-item {
        min-width: 270px;
    }

    .carousel-card-context {
        font-size: 18px;
        line-height: 23px;
    }

    .why-content {
        width: 90%;
    }
}

@media (max-width: 600px) {

    .carousel-item {
        min-width: 190px;
        padding: 40px 0 20px;
    }

    .carousel-card-context {
        font-size: 16px;
        line-height: 19px;
    }

    carousel-nd-item {
        height: 182px;
    }

    .why-content {
        width: 90%;
    }

    .line-up,
    .line-down {
        width: 24%;
    }

    #Why-we {
        padding: 120px 0 80px 40px;
    }

    .index-active-item,
    .index-item {
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 460px) {
    .slider__index {
        width: 24%;
        padding: 6px 0 6px;
        gap: 14px;
    }

    .carousel-index {
        margin-top: 60px;
    }

    #Why-we {
        padding: 80px 0 30px 15px;
    }

    .line-up,
    .line-down {
        width: 30%;
    }

    .carousel {
        margin-top: 50px;
        gap: 15px;
    }

    .why-content {
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
    }

    .carousel-item {
        min-width: 150px;
    }
}

@media (max-width:380px) {
    .carousel-card-context {
        font-size: 11px;
        line-height: 14px;
    }

    #slaider-indicators {
        position: absolute;
        bottom: -70;
        width: 40%;
    }

    #slider__item {
        width: 14px;
        height: 14px;
    }
}

/* Slider section */
#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__container {
    display: flex;
    position: relative;
    justify-content: center;
}

.carousel {
    margin-top: 0;
}

#myCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#carousel-indicators {
    position: absolute;
    bottom: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 14px;
    gap: 30px;
    margin-left: 0;
    width: 20%;
    z-index: 2;
    background: rgba(41, 46, 54, 0.5);
    left: auto;
}


#carousel-inner {
    height: 100%;
}

#index__item {
    height: 20px;
    border: none;
    background: #808285;
    width: 20px;
}

#carousel-indicators .active {
    background: #E1B168;

}

@media (max-width:920px) {
    #carousel-indicators {
        width: 30%;
    }
}

@media (max-width:600px) {
    #carousel-indicators {
        width: 30%;
        gap: 12px;
        bottom: 6;
        padding: 6px 0;
        margin-bottom: 0;
    }

    #index__item {
        height: 14px;
        width: 14px;
    }
}

@media (max-width:400px) {
    #carousel-indicators {
        width: 24%;
        gap: 6px;
        padding: 4px 0;
        margin-bottom: 0;
    }

    #index__item {
        height: 10px;
        width: 10px;
    }

    #carousel-inner img {
        height: 200px;
    }
}

/* Sale section */
#sales {
    margin: 60px 0 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale__container {
    width: 90%;
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sale__title {
    padding-top: 4px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;

}

.sale__context {
    margin-top: 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #555555;
}

.sale__cards {
    margin-top: 72px;
    display: flex;
    gap: 30px;
}

.sale__card {
    display: flex;
    flex-wrap: wrap;
    background: url(/assets/img/sale-card-bg-1.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.sale__card:nth-child(2) {
    background: url(/assets/img/sale-card-bg-2.png) no-repeat;
    background-size: 100% 100%;

}

.sale__card-content {
    width: 40%;
}

.sale-only {
    position: relative;
}

.sale-price-text {
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #4C4D4F;
    position: absolute;
    top: 30;
    left: 54;
}


.sale-price {
    position: absolute;
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: #4C4D4F;
    z-index: 1;
    top: 40;
    left: 30;
}

.white {
    color: #fff;
}

.price-img {
    margin-top: 28px;
}

.sale__item-text {
    font-weight: 400;
    margin-top: 26px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #4C4D4F;
    border-top: 1px solid #4C4D4F;
    padding-top: 4px;
    border-bottom: 1px solid #4C4D4F;
}

.sale__text {
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

@media (max-width:1254px) {
    .sale__card {
        padding: 0 20px;
    }

    .sale__card-img {
        width: 50%;
    }

    .sale__card-img img {
        width: 100%;
    }
}

@media (max-width:1100px) {
    .sale__card-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sale__card {
        justify-content: center;
    }

    .sale__card-img {
        width: 90%;
        margin: 20px 0;
    }
}

@media (max-width:624px) {
    .sale__cards {
        flex-wrap: wrap;
    }
}

/* Offer Section */

#offer {
    background: #4C4D4F;
    padding: 140px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.offer__container {
    width: 90%;
    max-width: 1420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__content {
    width: 40%;
}

.offer__title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 4px;
    color: #FFFFFF;
}

.offer-top-line {
    height: 1px;
    width: 34%;
    background: #E1B168;
}

.offer-line {
    height: 1px;
    width: 34%;
    background: #E1B168;
}

.offer__text {
    margin-top: 78px;
    font-weight: 400;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.offer__cards {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__card {
    border: 20px solid #323841;
    display: flex;
    height: 235px;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__context {
    margin-top: 15px;
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

@media (max-width:1000px) {
    .offer__container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .offer__content {
        width: 50%;
        text-align: center;
    }

    .offer__title {
        gap: 14px;
        display: flex;
        align-items: center;
    }

    .offer-top-line,
    .offer-line {
        width: 50%;
    }

    .offer__text {
        margin-top: 50px;
        width: 100%;
    }

    .offer__cards {
        width: 100%;
    }
}

@media (max-width:690px) {
    #offer {
        padding: 120px 15px;
    }

    .offer__cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .offer__card {
        width: 70%;
    }
}

@media (max-width:440px) {
    .offer__content {
        width: 90%;
    }

    .offer__title {
        gap: 8px;
        flex-direction: column;
    }

    .offer-top-line,
    .offer-line {
        width: 70%;
    }
}

/* News Section */
#news {
    padding-bottom: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__container {
    width: 90%;
    max-width: 1580px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.news__top h1{
    margin: 4px 0;
}

.news-top-line {
    height: 1px;
    background: #E1B168;
    width: 17%;
}

.news__title {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
}

.news-line {
    height: 1px;
    background: #E1B168;
    width: 17%;
}

.news__text {
    margin-top: 75px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}

.news__cards {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news__card {
    width: 49%;
}

.card-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    width: 100%;
}

.img-background {
    background: #000000A6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.view-more-btn {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #4C4D4F;

    position: absolute;
    background: #E1B168;
    width: 34%;
    padding: 20px 0;
    z-index: 1;
}

.card__bottom {
    border-bottom: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    display: flex;
    padding: 0 46px;
    flex-direction: column;
}

.card__date {
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    margin-top: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4C4D4F;
    padding-top: 4px;
}

.news-card-line {
    height: 1px;
    width: 28%;
    background: #E1B168;
}

.card__title {
    margin-top: 24px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #4C4D4F;
}

.card__text {
    margin-top: 63px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
    margin-bottom: 68px;
}

.cards__breadcrumbs {
    margin-top: 50px;
    height: 1px;
    background: #3F3B3B;
    width: 70%;
    position: relative;
}

.active__breadcrumb {
    height: 3px;
    position: absolute;
    top: -2;
    background: #4C4D4F;
    width: 10%;
}

@media (max-width:1250px) {
    .card__date {
        width: 60%;
    }
}

@media (max-width: 624px) {
    .card__bottom {
        padding: 0 15px;
    }

    .news__card {
        width: 90%;
    }

    .news__cards {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .card__text {
        margin-top: 43px;
        margin-bottom: 48px;
    }

    .view-more-btn {
        padding: 2px 0;
        width: 46%;
        font-size: 20px;
    }

    .card__title {
        font-size: 22px;
    }

    .active__breadcrumb {
        width: 20%;
    }
}