@import url(../../css/components/form.css);
@import url(../../css/components/footer.css);
@import url(../../css/components/modal.css);




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #4C4D4F;
}

.content {
    width: 100%;
    max-width: 1420px;
}

.header__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-top {
    padding: 30px 40px;
}

.header__tel {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #E1B168;

}

.header__tel p {
    margin: 0;
}

.phone-number {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
}

.header__logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__logo a img {
    width: 42%;
}

._lock {
    overflow-y: hidden;
}



.header__contact-us {
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: #E1B168;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #4C4D4F;
}

.header__contact-us:hover {
    background: #fff;
    transition: .8s;
    border: 3px solid #E1B168;
    color: #E1B168;
}

.container-bottom {
    border-top: 1px solid #5C6168;
    padding: 26px 40px;
    align-items: center;
    z-index: 100;
}

.header_fixed {
    background: #4C4D4F;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    align-items: center;
}


.nav-item {
    margin-right: 36px;
    display: inline;
    list-style-type: none;
}

.nav-item a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    color: #E1B168;
    text-decoration: none;

}

.nav-item:nth-child(4) a {
    color: #E1B168;
}

.nav-item:nth-child(5) {
    margin-right: 0;
}

.header__social-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* burgerMenu */
.body__scroll-off {
    overflow: hidden;
}

.burger__btn {
    display: none;
}

.menu__icon {
    display: none;
}

.logo__nav {
    display: none;
}

.block {
    display: none;
}


@media (max-width:950px) {
    .container-top {
        padding: 48px 40px 46px;
    }

    .header__tel {
        width: 30%;
    }

    .header__contact-us {
        width: 28%;
    }
}

@media(max-width: 865px) {
    .header__logo a img {
        width: 62%;
    }

    .header__nav {
        position: fixed;
        top: 0;
        z-index: 1;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #4C4D4F;
        transition: all 0.7s ease 0s;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }

    .nav-item {
        margin-right: 0;

    }


    .logo__nav {
        display: block;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .logo__nav img {
        width: 70%;
    }

    .menu__icon {
        z-index: 1;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .burger__btn {
        display: block;
        border-radius: 50%;
        padding: 16px;
    }

    .burger__btn:hover {
        padding: 16px;
        border-radius: 50%;
        background-color: #e1b1688e;
    }

    .burger__btn:focus {
        outline: 2px solid #5AB0FF;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navbar__ul {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        padding-bottom: 18px;
    }

    .header__nav::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    ._active {
        right: 0;
    }

    .container-top {
        flex-direction: row-reverse;
    }

    .header__logo {
        order: 1;
    }

    .dekstop {
        display: none;
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 30%;
    }

    .header__tel,
    .header__contact-us {
        width: 100%;
    }
}

@media (max-width:775px) {
    .container-top {
        padding: 20px 15px;
    }

    .block {
        width: 26%;
    }

    .phone-number,
    .header__contact-us {
        font-size: 16px;
        line-height: 24px;
    }

    .header__contact-us {
        height: 50px;
    }

    .header__tel {
        padding: 10px 0;
    }

    .container-bottom {
        padding: 26px 15px;
    }

    .header__social-links {
        gap: 10px;
    }
}

@media (max-width:550px) {
    header {
        height: 254px;
    }

    .block {
        width: 32%;
    }

    .header__tel {
        padding: 4px 0;
    }

    .phone-number,
    .header__contact-us {
        font-size: 14px;
        line-height: 20px;
    }

    .header__contact-us {
        height: 40px;
    }
}

@media (max-width:420px) {
    .header__logo a img {
        width: 72%;
    }

    .phone-number {
        font-size: 12px;
        line-height: 18px;
    }

}

@media (max-width:448px) {
    .header__social-links {
        width: 20%;
    }
}

@media (max-width:350px) {
    .block {
        width: 40%;
    }

    .header__social-links {
        width: 22%;
    }
}

/* Main Section */

#main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.main__container {
    width: 94%;
    max-width: 1420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-img {
    height: 464px;
    width: 88%;
}

.slider__container {
    height: 464px;
    width: 88%;
}

#carousel-inner .item  img{
    height: 100%;
}

.news-title {
    margin: 40px 0;
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}


.content-container {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    text-align: left;
    gap: 40px;
    width: 52%;
}

.content-title {
    font-weight: 700;
    line-height: 26px;
    font-size: 24px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
}

.content-context {
    color: #131415c9;
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;
    line-height: 32px;
}

.content-bold {
    font-weight: 700;
    line-height: 26px;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 800px) {
    .news-img {
        height: 364px;
        width: 88%;
    }
}

@media (max-width:540px) {
    #main__section {
        padding: 10px 0;
    }

    .news-title {
        margin: 20px 0;
        font-size: 24px;
    }

    .news-img {
        height: 254px;
    }

    .content-container {
        width: 70%;
    }
}

@media (max-width:322px) {
    .news-img {
        height: 210px;
        width: 100%;
    }

    .content-container {
        width: 80%;
    }
}