footer {
    background: #4C4D4F;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__container {
    width: 90%;
    max-width: 1420px;
    padding-top: 106px;
    display: flex;
    flex-direction: column;
}

.footer__logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nk {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer-logo {
    display: flex;
    justify-content: center;
    width: 40%;
    align-items: center;
}

.footer-logo img {
    width: 44%;
}

.social-networks__footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.footer__contact {
    margin-top: 40px;
}

.contact-title {
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    display: flex;
    padding-top: 4px;
    font-weight: 400;
    justify-content: center;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact-city {
    margin-top: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.contact__number {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.contact__email {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer-form__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer-form__container {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
}

.footer__form-item {
    background: none;
    width: 60%;

    display: flex;
    padding: 17px 0 18px 24px;
    border: 1px solid #6b6c7096;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.sendBtn {
    background: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 18px 40px;
}

.footer__work-time {
    margin-top: 40px;
}

.work__time-title {
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    display: flex;
    padding-top: 4px;
    font-weight: 400;
    justify-content: center;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.work__time-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.md-fr {
    margin-right: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #E1B168;
}



.footer__bottom {
    display: flex;
    width: 90%;
    max-width: 1420px;
    border-top: 1px solid #575B62;
    flex-wrap: wrap;
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.confidantiality {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

@media (max-width:960px) {
    footer {
        padding: 0px 15px;
    }
}

@media (max-width:900px) {
    .footer__container {
        align-items: center;
    }

    .footer__form {
        width: 100%;
    }

    .footer__logo-container {
        width: 90%;
    }

    .footer__form__container {
        width: 90%;
    }

    .footer-form__container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer__contact {
        order: 1;
    }

    .footer__bottom {
        margin-top: 20px;
    }

    .footer__form-item {
        width: 60%;
    }

    .sendBtn {
        width: 30%;
        padding: 0;
    }
    .footer-logo img {
        width: 84%;
    }
}

@media (max-width:510px) {
    .footer-form__container {
        align-items: center;
        flex-direction: column;
    }

    .footer__form-item {
        width: 100%;
    }

    .sendBtn {
        display: flex;
        justify-content: center;
        width: 60%;
        align-items: center;
        padding: 4px 0;
    }

    .footer__form__container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .footer__form {
        margin-top: 22px;
    }

    .footer__contact {
        width: 100%;
    }

    .footer__work-time {
        width: 100%;
    }

    .footer__container {
        padding-top: 80px;
    }

    .work__time-item {
        text-align: left;
    }
    .footer-logo img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .copyright,
    .confidantiality {
        font-size: 12px;
    }
}