* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background: #4C4D4F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.content {
    width: 100%;
    max-width: 1420px;
}

.header__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-top {
    padding: 108px 40px 106px;
}

.header__tel {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #E1B168;

}

.phone-number {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
}

.header__logo {
    width: 40%;
}


.header__contact-us {
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: #E1B168;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #4C4D4F;
}

.header__contact-us:hover {
    background: #fff;
    transition: .8s;
    border: 3px solid #E1B168;
    color: #E1B168;
}

.container-bottom {
    border-top: 1px solid #5C6168;
    padding: 26px 40px;
    align-items: center;
    border-bottom: 1px solid #5C6168;

}


.nav-item {
    margin-right: 36px;
    display: inline;
    list-style-type: none;
}

.nav-item a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
}
.nav-item a:hover{
    color: #E1B168;
    text-decoration: none;

}
.nav-item:nth-child(4) a {
    color: #E1B168;
    margin-right: 0;

}


.header__social-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* burgerMenu */
.body__scroll-off {
    overflow: hidden;
}

.burger__btn {
    display: none;
}

.menu__icon {
    display: none;
}

.logo__nav {
    display: none;
}

.block {
    display: none;
}


@media (max-width:950px) {
    .container-top {
        padding: 48px 40px 46px;
    }

    .header__tel {
        width: 30%;
    }

    .header__contact-us {
        width: 28%;
    }
}

@media(max-width: 865px) {
    .header__nav {
        position: fixed;
        top: 0;
        z-index: 1;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #4C4D4F;
        transition: all 0.7s ease 0s;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }

    .nav-item {
        margin-right: 0;

    }


    .logo__nav {
        display: block;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .logo__nav img {
        width: 70%;
    }

    .menu__icon {
        z-index: 1;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .burger__btn {
        display: block;
        border-radius: 50%;
        padding: 16px;
    }

    .burger__btn:hover {
        padding: 16px;
        border-radius: 50%;
        background-color: #e1b1688e;
    }

    .burger__btn:focus {
        outline: 2px solid #5AB0FF;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navbar__ul {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        padding-bottom: 18px;
    }

    .header__nav::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    ._active {
        right: 0;
    }

    .container-top {
        flex-direction: row-reverse;
    }

    .header__logo {
        order: 1;
    }

    .dekstop {
        display: none;
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 30%;
    }

    .header__tel,
    .header__contact-us {
        width: 100%;
    }
}

@media (max-width:775px) {
    .container-top {
        padding: 0 15px;
    }

    .block {
        width: 26%;
    }

    .phone-number,
    .header__contact-us {
        font-size: 16px;
        line-height: 24px;
    }

    .header__contact-us {
        height: 50px;
    }

    .header__tel {
        padding: 10px 0;
    }

    .container-bottom {
        padding: 26px 15px;
    }

    .header__social-links {
        gap: 10px;
    }
}

@media (max-width:550px) {
    header {
        height: 300px;
    }

    .block {
        width: 32%;
    }

    .header__tel {
        padding: 4px 0;
    }

    .phone-number,
    .header__contact-us {
        font-size: 14px;
        line-height: 20px;
    }

    .header__contact-us {
        height: 40px;
    }
}

@media (max-width:420px) {

    .phone-number {
        font-size: 12px;
        line-height: 18px;
    }

}

@media (max-width:448px) {
    .header__social-links {
        width: 20%;
    }
}


/* Main section */

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #4C4D4F;
}

.main__container {
    width: 100%;
    max-width: 1420px;
    padding: 48px 182px 146px;
    display: flex;
    flex-direction: column;
}


.main__title {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.addreses {
    position: relative;
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 26px;
    flex-wrap: wrap;
}

.addres {
    display: flex;
    flex-direction: column;
}

.addres-item {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.offices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.office-addres {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-left: 22px;
}

.work-time {
    position: absolute;
    top: -56;
    right: 0;
    display: flex;
    flex-direction: column;
}

.working-time {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.workimg-time-item {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.oclock {
    font-size: 24px;
}

.map {
 width: 100%;
       padding-bottom: 42px;
}

.map iframe {
    height: 368px;
    width: 100%;
}

@media (max-width:1230px) {

    .addreses {
        width: 100%;
    }

    .work-time {
        position: relative;
    }
}

@media (max-width:1044px) {
    .main__container {
        padding: 38px 40px 126px;
    }
}

@media (max-width:760px) {
    .addreses {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .addres {
        order: 3;
        width: 100%;
    }

    .work-time {
        top: 0;
        width: 100%;
    }

    .workimg-time-item,
    .addres-item,
    .office-addres {
        font-size: 22px;
        line-height: 46px;
    }
}



/* Form Section */
#form {
    background: url(/assets/img/form-bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 0;
}

.form__container {
    background: #292E36F2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63%;
    max-width: 1520px;
    padding: 140px 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form__line {
    height: 1px;
    width: 19%;
    background: #E1B168;
}

.form__title {
    font-weight: 400;
    margin-top: 4px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form__context {
    font-weight: 400;
    font-size: 20px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 10px;
}

.form__inputs {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
}

.form__item {
    width: 40%;
    display: flex;
    background: none;
    padding: 18px 0 18px 25px;
    border: 1px solid #4C4D4F;

    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


.form__item::placeholder {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.formSend {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;

    width: 40%;
    padding: 22px 0 12px;
    margin-top: 30px;
    background: #ffff;
}

@media (max-width: 1024px) {
    .form__container {
        width: 87%;
    }
}

@media (max-width:884px) {
    .form__container {
        padding: 110px 0;
    }

    .form__context {
        font-size: 18px;
        line-height: 38px;
        width: 90%;
    }
}

@media (max-width: 680px) {
    #form {
        padding: 90px 0;
    }

    .form__line {
        width: 33%;
    }

    .form__inputs {
        gap: 20px;
        width: 74%;
        flex-direction: column;
    }

    .form__item {
        width: 100%;
        padding: 18px 0 18px 20px;
        font-size: 20px;
    }

    .form__item::placeholder {
        font-size: 18px;
    }

    .form__container {
        padding: 50px 0;
    }

}

@media (max-width:460px) {
    .form__context {
        font-size: 13px;
        line-height: 26px;
        width: 100%;
    }

    .form__line {
        width: 60%;
    }

    .formSend {
        font-size: 20px;
        width: 50%;
        padding: 12px 0 10px;
    }

    .form__item::placeholder {
        font-size: 16px;
    }

    .form__item {
        padding: 12px;
    }
}

/* Footer */
footer {
    background: #4C4D4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__container {
    width: 90%;
    max-width: 1420px;
    padding-top: 166px;
    display: flex;
    flex-direction: column;
}

.footer__logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nk {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer-logo {
    position: absolute;
    top: 0;
    left: 50%;
}

.social-networks__footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.footer__contact {
    margin-top: 40px;
}

.contact-title {
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    display: flex;
    padding-top: 4px;
    font-weight: 400;
    justify-content: center;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact-city {
    margin-top: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.contact__number {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.contact__email {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer-form__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer-form__container {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
}

.footer__form-item {
    background: none;
    width: 60%;

    display: flex;
    padding: 17px 0 18px 24px;
    border: 1px solid #6b6c7096;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.sendBtn {
    background: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 18px 40px;
}

.footer__work-time {
    margin-top: 40px;
}

.work__time-title {
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    display: flex;
    padding-top: 4px;
    font-weight: 400;
    justify-content: center;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.work__time-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.md-fr {
    margin-right: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #E1B168;
}



.footer__bottom {
    display: flex;
    width: 90%;
    max-width: 1420px;
    border-top: 1px solid #575B62;
    flex-wrap: wrap;
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.confidantiality {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #E1B168;
}

@media (max-width:960px) {
    footer {
        padding: 0px 15px;
    }
}

@media (max-width:900px) {
    .footer__container {
        align-items: center;
    }

    .footer__form {
        width: 100%;
    }

    .footer__logo-container {
        width: 90%;
    }

    .footer__form__container {
        width: 90%;
    }

    .footer-form__container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer__contact {
        order: 1;
    }

    .footer__bottom {
        margin-top: 20px;
    }

    .footer__form-item {
        width: 60%;
    }

    .sendBtn {
        width: 30%;
        padding: 0;
    }
}

@media (max-width:510px) {
    .footer-form__container {
        align-items: center;
        flex-direction: column;
    }

    .footer__form-item {
        width: 100%;
    }

    .sendBtn {
        display: flex;
        justify-content: center;
        width: 40%;
        align-items: center;
        padding: 4px 0;
    }

    .footer__form__container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .footer__form {
        margin-top: 22px;
    }

    .footer__contact {
        width: 50%;
    }

    .footer__container {
        padding-top: 80px;
    }
}

@media (max-width: 400px) {

    .copyright,
    .confidantiality {
        font-size: 12px;
    }
}